.post-type-archive-works{
  background: $color_violet;

  .logo-site{
    g{
      fill: $color_clear_blue;
      filter: none;
    }
  }

  .button-navigation{
    color: $color_clear_blue;

    .bar{
      background: $color_clear_blue;
    }
  }

  .intro-archive{
    padding-top: 7vw;
  }

  .marquee{
    color: $color_clear_blue;

    .marquee__inner{
      color: $color_clear_blue;
    }
  }
}

.container-cases{
  padding: 0 calc(2vw - 15px);
  margin-bottom: 4vw;
  margin-top: 1vw;
}

.push-project{
  margin-bottom: 2vw;
  display: block;
  img{
    width: 100%;
    display: block;
    margin-bottom: 1vw;
  }

  .title-case{
    font-family: $font_RightGrotesk-Medium;
    color: #FFF;
    font-size: 1.9vw;
  }
}


.container-content-case{
  padding-left: 13vw;
  padding-right: 13vw;
}

.intro-single{
  padding-top: 10vw;

  .title-case-single{
    font-size: 3.5vw;
    line-height: 3.5vw;
  }

  .sup-info-hero{
    border-top: 1px solid #e1e1e1;
    margin-top: 4vw;
    padding-top: 3vw;
    padding-bottom: 3vw;

    .date{
      font-size: 2.3vw;
    }
    .category{
      font-size: 1.6vw;
      line-height: 1.6vw;
    }
    .logo{
      width: auto;
      height: 3.6vw;
    }
  }
}


.case-single-full-image{
  margin-bottom: 4vw;

  img{
    width: 100%;
  }
}

.case-single-two-images{
  margin-bottom: 4vw;
  img{
    max-width: 100%;
  }
}


.case-single-carrousel{
  overflow: hidden;
  width: calc( 100% + 8vw );
  margin-left: -4vw;
  margin-bottom: 4vw;
  .container-mockup{
    &:focus{
      outline: none !important;
    }
  }
  .slick-track{
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .mockupPhone{
    transform: scale(.9);
    width: 100%;
    height: 40vw;
    transition: .6s;
  }

  .slick-current{
    .mockupPhone{
      transform: scale(1);
    }
  }

  .slick-dots{
    li{
      width: 5vw;
      height: 4px;
      background: rgba(174, 174, 174, 0.22);
      button{
        width: 100%;
        opacity: 0;
      }

      &.slick-active{
        background-color: $color_violet;
      }
    }
  }
}


.case-single-video-image-full-container{
  margin-bottom: 4vw;
  iframe{
    width: 100%;
    height: 36vw;
  }

  img{
    width: 100%;
  }
}


.pagination-project{
  background: $color_violet;
  padding: 2vw;

  .title-section-pagination{
    color: $color_green;
    font-size: 3.6vw;
    margin-bottom: 2vw;
  }
}
