@media only screen and (max-width: 768px) {

  .visible-mobile{
    display: block;
  }
  .logo-site{
    top: 15px;
    left: 15px;
    transform: translate(0);
    svg{
      width: 160px;
    }
  }

  .button-navigation{
    right: 15px;
    top: 22px;
  }

  .hero-home{
    font-size: 75px;
    line-height: 55px;
    height: 275px;

    .font_RightGrotesk-TightMedium{
      font-size: 90px;
      line-height: 85px;
    }

    .text-center{
      top: 100px;
    }
  }

  .image-full-width-home{
    height: 300px;
  }

  .section-introduction{
    padding: 40px 0;
    .container-introduction{
      padding: 20px 0 30px;
      font-size: 12vw;
      line-height: 12vw;

      span{
        margin-left: 0 !important;
      }

      .img-1, .img-2, .img-3{
        display: none;
      }
    }
  }

  .listing-projects{
    .container-mockup{
      display: none;
    }

    .project{
      width: 100%;
      height: auto;
      .container-info-project{
        position: static;
        width: 100%;
        padding: 30px 15px;
        transform: translate(0);
        font-size: 50px;
        line-height: 50px;

        .logo{
          margin-bottom: 30px;
        }
      }
    }
  }



  .border-dot{
    font-size: 33px;
  }

  .marquee span{
    font-size: 55px;
  }


  .container-mockup-mobile{
    padding: 40px;
    width: 100%;
    margin-top: 45px;

    .mockupPhone{
      margin-left: auto;
      display: block;
      margin-right: auto;
    }
  }

  .mockupPhone{
    width: 50vw;
    height: 100vw;
    border: 2.7vw solid #FFF;
    border-radius: 6vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .section-all-works{
    padding-bottom: 45px;
  }


  .section-temoignage{
    padding: 45px 0;

    .container-title-section{
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 50px;
    }

    .temoignage-container{
      border-bottom: 1px solid rgba(#000, .1);
      padding-bottom: 45px;
    }
  }


  .section-team{
    padding-top: 45px;

    .container-title-section{
      font-size: 60px;
      line-height: 60px;
    }

    .container-images-teams{
      position: static;
      transform: translate(0);
      width: 70%;
      margin: 0 auto;
      margin-top: 65px;
      height: 90vw;

      .list-images{
        height: 100vh;
        li{
          img{
            top: 0;
          }
        }
      }

      .pagination-next{
        width: 80px;
        height: 80px;
      }
    }

    .container-content-teams{
      width: 100%;
      margin-left: 0;
      text-align: center;
      min-height: 120vw;

      .name-team, .subname-team{
        font-size: 40px;
        line-height: 40px;
      }
    }
  }

  .section-instagram{
    padding: 120px 0;
    .posts-insta{
      img{
        display: none !important;

        &.image-1, &.image-2{
          display: block !important;
        }

        &.image-1{
          width: 48%;
          top: 0;
          left: 0;
        }
        &.image-2{
          width: 48%;
          bottom: 60px;
          right: 0;
          left: auto;
          top: auto;
        }
      }
    }

    .container-title-section{
      font-size: 50px;
      line-height: 50px;
    }
  }


  .footer{
    .social {
      width: 100%;

      li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #c6ff59;

        a {
          font-size: 50px;
        }
      }
    }
    .copyright{
      width: 100%;
      text-align: center;
      padding: 20px 0;
      font-size: 70px;
      img{
        display: none;
      }
    }
  }

  .sub-footer{
    .slogan{
      display: none;
    }
    .nav-sup{
      width: 100%;
      text-align: center;
      li{
        margin: 0 7px;
      }
    }
  }



  .nav-open .navigation-content .mockup-2, .nav-open .navigation-content .mockup-1{
    display: none;
  }

  .navigation-content{

    .navigation-first{
      top: 170px;
      font-size: 40px;
      line-height: 55px;
    }
    .container-bottom-header{
      text-align: center;

      .social-menu{
        font-size: 25px;
        line-height: 25px;
      }

      .label{
        margin-top: 17px;
      }
      .sub-link{
        font-size: 25px;
      }

      .info-contact{
        line-height: normal;
      }

      .title-bottom-header{
        font-size: 30px;
      }
    }
  }


  .intro-archive{
    margin-top: 120px;
  }

  .container-cases{
    margin-bottom: 45px;
  }
  .push-project{
    margin-bottom: 15px;
    .title-case{
      font-size: 25px;
    }
  }

  .container-content-case{
    padding-left: 0;
    padding-right: 0;
  }

  .intro-single{
    margin-top: 60px;

    .title-case-single{
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 30px;
    }

    .sup-info-hero{
      padding-top: 25px;
      padding-bottom: 25px;
      .date{
        font-size: 28px;
      }

      .category{
        text-align: right;
        font-size: 20px;
        line-height: 20px;
      }

      .logo{
        display: none;
      }
    }
  }

  .case-single-two-images,
  .case-single-carrousel{
    margin-bottom: 45px;
  }

  .case-single-full-image{
    margin-bottom: 45px;
  }

  .case-single-two-images img{
    margin-bottom: 30px;
  }

  .case-single-carrousel .mockupPhone{
    width: 75%;
    height: 77vh;
    margin: 0 auto;
    border-radius: 10vw;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .case-single-carrousel{
    width: 100%;
    margin-left: 0;
  }

  .case-single-video-image-full-container{
    margin-bottom: 45px;
  }
  .case-single-video-image-full-container iframe{
    height: 64vw;
  }

  .slick-dots{
    bottom: -40px;
  }

  .pagination-project{
    padding: 15px;
    padding-bottom: 45px;
    .title-section-pagination{
      font-size: 40px;
      text-align: center;
      padding: 30px 0;
    }
  }

  .page-template-about .description-intro-about{
    margin-bottom: 45px;
  }

  .page-template-about .text-more-about{
    margin-top: 0;
    margin-bottom: 45px;
  }
}
