// Colors
$beige : #f9f5e9;
$black : #000;

// Fonts
$font_RightGrotesk-TightMedium : 'RightGrotesk-TightMedium';
$font_RightGrotesk-SpatialBlack : 'RightGrotesk-SpatialBlack';
$font_RightGrotesk-CompactBlack : 'RightGrotesk-CompactBlack';
$font_RightGrotesk-TallFine : 'RightGrotesk-TallFine';
$font_RightGrotesk-WideMedium : 'RightGrotesk-WideMedium';
$font_RightGrotesk-Medium : 'RightGrotesk-Medium';
$font_RightGrotesk-NarrowLight : 'RightGrotesk-NarrowLight';

$sans_serif_thin_italic : 'oakes_grotesklight_italic';
$sans_serif_thin : 'oakes_grotesklight';
$sans_serif_regular : 'basier_circleregular';


//
$color_violet : #583f9a;
$color_green : #c6ff59;
$color_blue : #b6ebdf;
$color_clear_blue: #b6ebdf;
